
@{
    ViewData["Title"] = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Xác nhận đặt hàng thành công</h1>

<p class="text-center">Bạn đã đặt hàng thành công, đơn hàng đang được xử lý.
    Mã vận đơn <b style="color: red">@Model.GHNRef</b></p>