
@{
    ViewData["Title"] = "ProductNotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="color:red" class="text-center">Giỏ hàng của bạn hiện chưa có sản phẩm nào! Quay lại để xem các sản phẩm</h1>

